@charset "UTF-8";

/* versão print*/

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-image: url(../imagens/back-print.jpg); /* desnecessario */
}
main{
    width: 90vw;
    border: 2px solid black;
}

main::after{
    content: "Essa impressão foi feito através do Gabriel";
    text-decoration: overline;
}

main h1{
    text-shadow: none;
    color: black;
}

img#phone {
    display: none;
}

img#tablet {
    display: none;
}

img#print {
    display: block;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}