@charset "UTF-8";

/* 
    Em html é id= em css é #
    Em html é class =  em css é.

*/
body {
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    background-color: green;
    color: white;
    text-align: center;
}

h1 {
    color: rgb(4,109,0);
}

h2.basico{
 color: greenyellow;
}

.intermediario{
color: red;
}

h2{
    Color: rgb(73,109,71);
}

.destaque{
    background-color: rgba(211, 211, 36, 0.74);
}