@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(To right,#AFE6BE, #F3E9C0);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #687191bb;
}

h1{
 color:#A6B4E6;
 text-align: center;
 text-shadow: 1px 1px 2px #717b9c86;
 

}

h2{
 color:#F4A9A0
}

p {
    text-align: justify;
}

    
